{% extends 'home.html' %}

{% block content %}
<div id="page-content-wrapper">
    <div class="section-wrapper">
        <h3 class="text-center">Document Category List</h3>
    </div>
    <div class="section-wrapper">
        <table class="table table-responsive">
            <thead>
            <tr>

                <th> Document Category</th>
                <th>Action</th>


            </tr>
            </thead>

                {% for doc_list in doc_list %}

                    <tbody>
                    <tr>
                        <td>{{ doc_list.doc_category }}</td>



                        <td>
                            <div class="button">

{#                                    <a class="dropdown-item" href="{% url 'edit_category' pk=catlist.pk %}">Edit</a>#}
                                    <a class="dropdown-item" href="{% url 'delete_document_category' pk=doc_list.pk %}"
                                       onclick="return confirm('Are you sure?')"><button type="button" class="btn btn-danger">Delete</button></a>

                                </div>

                        </td>


                    </tr>
                    </tbody>

                {% endfor %}

        </table>

    {% if doc_list.has_other_pages %}
  <ul class="pagination">
    {% if doc_list.has_previous %}
      <li><a href="?page={{ doc_list.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in doc_list.paginator.page_range %}
      {% if doc_list.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if doc_list.has_next %}
      <li><a href="?page={{ doc_list.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

</div>
</div>

{% endblock %}]