
<html>
<head>
    <title>Change Password</title>

</head>

{% load staticfiles %}

 <link rel="stylesheet" href="{% static 'style/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'style/css/font-awesome.min.css' %}">
    <script src="{% static 'style/js/jquery.min.js' %}"></script>
    <script src="{% static 'style/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'style/css/sidebar.css' %}">

<body>


<div id="wrapper">
    <!--        Horizontal Header-->
    <div class="header ">
        <img src="{% static 'image/abilis.png' %}" class="logo">

        <div class="dropdown user-account">
            <img src="{% static 'image/pp.JPG' %}"  class="dropdown-toggle dropbtn profile-img-header" data-toggle="dropdown"  aria-expanded="true">
            <a class="user-name-header" onclick="myFunction()"> {{ user.username }} <b class="caret"></b></a>

            <div id="myDropdown" class="dropdown-content">


                <div class="col-md-12 pad-top no-side-pad ">
                    <ul class="no-pad">
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>


<div class="section-wrapper" style="padding:6%">
    <div>
    <h1 style="text-align: center">Reset Password</h1>
</div>
<div class="form-group">

<form method="POST">
    <div class="container">
    {% csrf_token %}

    {{ form.as_p }}

        <div class="form-group">
  <button type="submit" class="btn login-btn">Reset</button>
    </div>
    </div>
</form>

</div>
    </div>


    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('.user-name-header')) {

                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        };

        //        script for logout ends
    </script>

</div>



<div class="footer">

        <div class="footer-social-icon">
            <ul>
                <li><a href="#"><i class="text-white fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="text-white fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="text-white  fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="text-white  fa fa-vimeo"></i></a></li>
                <li><a href="#"><i class="text-white  fa fa-google-plus"></i></a></li>

            </ul>
        </div>
        <p class="text-center">&#169 Logispark technologies 2019- All Right Reserved</p>
</div>


</body>
</html>










