

<html>
<head>
    <title>Password Changed</title>

</head>

{% load staticfiles %}

 <link rel="stylesheet" href="{% static 'style/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'style/css/font-awesome.min.css' %}">
    <script src="{% static 'style/js/jquery.min.js' %}"></script>
    <script src="{% static 'style/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'style/css/sidebar.css' %}">

<body>
{##}
{##}
{#<div id="wrapper">#}
{#    <!--        Horizontal Header-->#}
{#    <div class="header ">#}
{#        <img src="{% static 'image/abilis.png' %}" class="logo">#}
{##}
{#        </div>#}
{#    </div>#}

<script>
    alert("Your Password Has Been Changed");
</script>
<div id="wrapper">

    <div class="alert alert-info">
    Your Password has been changed
        </div>
<div class="alert">
    <a href="{% url 'logout' %}">Sign in  Here</a>

</div>
</div>
{##}
<div class="footer">

        <div class="footer-social-icon">
            <ul>
                <li><a href="#"><i class="text-white fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="text-white fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="text-white  fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="text-white  fa fa-vimeo"></i></a></li>
                <li><a href="#"><i class="text-white  fa fa-google-plus"></i></a></li>

            </ul>
        </div>
        <p class="text-center">&#169 Logispark technologies 2019- All Right Reserved</p>
</div>


</body>
</html>














